@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        font-family: "object-fit: #{$fit}; object-position: #{$position}";

        -o-object-position: $position;
        object-position: $position;
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin hide-marker {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: rem(1px);
    height: rem(1px);
    margin: rem(-1px);
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}
