/**
* Colors
*/


/**
* Fonts
*/
$font-size-base: 16px;


/**
* Breakpoints
*/
$screen-medium: '(min-width: 768px)';
$screen-big: "(min-width: 1280px)";


/**
* Layout
*/
$container-max-width-desktop: rem(1170px);
$container-padding: rem(15px);
