.button {
    display: inline-block;

    padding: rem(4px) rem(14px);

    cursor: url(../images/cursor.png), pointer;

    color: $white;
    border-radius: rem($border-radius);

    &--jumbo {
        background-color: $jumbo;
    }

    &:disabled {
        opacity: 0.3;
    }
}
