.container {
    width: 100%;
    max-width: ($container-max-width-desktop + ($container-padding * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: rem($container-padding);
    padding-left: rem($container-padding);
}
